<?xml version="1.0" encoding="utf-8"?>
<manifest 
  xmlns:android="http://schemas.android.com/apk/res/android" 
  package="NativeHtmlViewer.NativeHtmlViewer" 
  android:versionCode="1" 
  android:versionName="1.0">
  
  <uses-sdk android:minSdkVersion="16" />
  <!-- 인터넷 사용 권한 -->
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- SD카드 읽기 권한 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- 네트워크 확인 권한 (연결 상태를 확인할 수 있다) -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <application android:label="NativeHtmlViewer">
  </application>
</manifest>